*ipynb_checkpoints
*__pycache__
*.csv
*.npy
*.vot
*.dat
*DS_Store
*.fits
*.zip
*.rar
*.pk
*.pkl
*Logs
*TFRecords
Envs
*runs*
*model/*
*strategies*
data
*.tfrecord
*.npz
*checkpoint
*h5.*
*.err
*.out
src/experiments
